
/build/
/*/build/
/*/*/build/
/.gradle/
/*/.gradle/
/.idea/
/distr/
/composite/spring-petclinic-kotlin/hs_err_pid.*.log
/*.iml
/test.log
/docker-compose/data/
/plugins/drill-exception-plugin-native/drill-api/
/temp/
/drill-agent/subdep/
/drill-agent/main.dll
/drill-agent/libmain.so
/drill-agent/libmain.dylib
/drill-admin/stuff/
