
/build/
/*/build/
/*/*/build/
/.gradle/
/*/.gradle/
/.idea/
/distr/
/composite/spring-petclinic-kotlin/hs_err_pid.*.log
/*.iml
/*.log
/*/*.log
/*/*/*.log
/data/
/docker-compose/data/
/plugins/drill-exception-plugin-native/drill-api/
/temp/
/drill-agent/subdep/
/*/*.dll
/*/*.so
/drill-agent/main.dll
/drill-agent/libmain.so
/drill-agent/libmain.dylib
/.gradle_admin/
/.gradle_agent/
